# List declared aliases, functions, paths

alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

###############
#  directory  #
###############

# -1 : one perline
# -F : trailing slash for directory names
# -G : enable colorized
alias ls="ls -1FG --color=auto"

# -a : show hidden files/directories
# -l : show size
# -h : human readable size
alias la="ls -alh"

# show with numbers
alias ll="ls | cat -b"

alias cdot="cd ~/code/bradleyoesch/dotfiles"
alias cddot="cd ~/code/bradleyoesch/dotfiles"
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

#########
#  git  #
#########

alias gb="git branch"
alias gpom="git pull origin main"
alias gs="git status"
alias gss="git stash && git stash pop"

##########
#  bash  #
##########

# Aliases to protect against overwriting
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
