# List declared aliases, functions, paths

alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

# Directory listing/traversal

alias ls="ls -Gp --color=auto"
alias la="ls -a"
alias ll="ls | cat -b"
alias lp="stat -c '%a %n' *"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# git

alias gb="git branch"
alias gpom="git pull origin main"
alias gs="git status"
alias gss="git stash && git stash pop"

# bash

# Aliases to protect against overwriting
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
