# create a new directory and enter it
mk() {
  mkdir -p "$@" && cd "$@"
}

# copy with ".bak" extension
# -cp to copy (default)
# -mv to rename
bak() {
  if [ "$1" = "-cp" ]; then
    cp $2 $2.bak
    echo "Copied to $2.bak"
  elif [ "$1" = "-mv" ]; then
    mv $2 $2.bak
    echo "Renamed to $2.bak"
  else
    cp $1 $1.bak
    echo "Copied to $1.bak"
  fi
}

# copy with ".bak" extension
# -cp to copy (default)
# -mv to rename
rebak() {
  if [ "$1" = "-cp" ]; then
    cp $2 "${2//.bak}"
    echo "Copied to ${2//.bak}"
  elif [ "$1" = "-mv" ]; then
    mv $2 "${2//.bak}"
    echo "Renamed to ${2//.bak}"
  else
    cp $1 "${1//.bak}"
    echo "Copied to ${1//.bak}"
  fi
}
